* @younjh0923-design

/packages/contracts/ @younjh0923-design @juhyungbaek0621 @ytw010629
/packages/database/ @younjh0923-design
/packages/merge-policy/ @younjh0923-design
/packages/source-acquisition/ @ytw010629 @younjh0923-design
/packages/menu-analysis/ @ytw010629 @younjh0923-design @juhyungbaek0621
/packages/restaurant-resolution/ @ytw010629
/apps/web/ @juhyungbaek0621
/.github/ @younjh0923-design
